*{
    outline: none !important;
}
header .topnav{
	background-color: #ebebeb;
}
header .topnav a{
	font-size: 16px;
    margin-left: 20px;
    line-height: 50px;
    font-weight: bold;
    color: #054881;
    font-family: 'Roboto', sans-serif;
}
#custom_html-6{
	background: url('./img/home_fixed_bg.jpg');
	background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    min-height: 500px;
    background-repeat: no-repeat;
}
/*-- header --*/
.navigation-main > li > a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
}
header .list-social-icons{
    text-align: right;
    margin-bottom: 20px;
}
.list-social-icons li{
    margin: 0 5px;
}
.list-social-icons li a.social-icon{
    color: white;
    background: #85cbf1;
    border: 2px solid #85cbf1;
}
.list-social-icons li a.social-icon:hover{
  background-color: #054881;
  color: #054881;
}
.head-search-form-wrap{
    margin-left: auto;
}
.widget .list-social-icons li{
    display: block;
}

@media ( max-width: 991px ) {
    .header-main-menu{
        display: none;
    }
}

/* -- Homepage --  */
.home .main{
    padding-top: 0;
}
#custom_html-5{
    background: url('./img/banner_bg.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    padding: 70px 0;
}
.home_brief{
    color: white;
    text-align: center;
    font-size: 25px;
}
.features > .col-md-4{
    text-align: center;
}
.features img{
    max-width: 120px;
}
.features label{
    font-size: 28px;
    line-height: 70px;
    color: #054881;
}