.elementor a{
	color: #054881;
}
.elementor a i.fa-chevron-right{
	border: 1px solid #054881;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    padding: 3px 5px;
    color: #054881;
    margin-right: 5px;
    vertical-align: middle;
}
.elementor a:hover{
	color: #84cbf1;
}
.elementor a:hover i.fa-chevron-right{
	color: #84cbf1;
	border: 1px solid #84cbf1;
}
/* gallery widget */
.nozama_gallery{
	padding-bottom: 60px;
}
.nozama_gallery h5{
	background: #011d4f;
    color: white;
    padding: 10px 20px;
    width: 300px;
    margin-top: -20px;
    font-size: 24px;
}
.nozama_gallery .gallery-item{
	padding: 10px !important;
}
.nozama_gallery .gallery-item .landscape{
	height: 100%;
}
.nozama_gallery .gallery-item .landscape img{
	height: 100%;
}
@media (min-width: 1350px){
	.gallery {
	    margin-right: -10px !important;
	    margin-left: -10px !important;
	}
}

/* video widet css */
.nozama_video{
	padding: 60px 0;
	margin-top: -40px;
}

/* featured product widget */
.nozama_featured_product{
	padding-bottom: 60px;
}
.nozama_featured_product h5{
	background: #84cbf1;
    color: white;
    padding: 10px 20px;
    width: 300px;
    margin-top: -20px;
    font-size: 24px;
}
.nozama_featured_product .item-product .item-thumb{
    max-height: 280px;
    padding: 0;
}
.nozama_featured_product .row-items .item{
    background: white;
    height: 100%;
    margin-bottom: 0;
}
.nozama_featured_product .row-items{
    margin-bottom: 0;
}
.nozama_featured_product .item-content{
    border-top: 1px solid #ececec;
    padding: 30px 40px 25px;
}
.nozama_featured_product .item-content .item-title a{
    color: #71797e;
    font-weight: 600;
}
.nozama_featured_product .item-content .subtitle{
    font-size: 13px;
    color: #71797e;
    font-weight: 400;
}
.nozama_featured_product .item-content > a{
    color: #054881;
}
.nozama_featured_product .item-content > a i{
    margin-right: 5px;
}

/* News Widget */
.nozama_news h5{
	background: #054881;
    color: white;
    padding: 10px 20px;
    width: 300px;
    margin-top: -26px;
    font-size: 24px;
}
.nozama_news .item-media-sm{
    height: 100%;
}
.nozama_news .item-media-sm .item-thumb{
    width: 50%;
    margin-right: 0;
    background-position: center;
    background-size: cover;
}
.nozama_news .item-media .item-content{
    background: #ececec;
    padding: 15px 30px;
}
.nozama_news .row > .col-lg-6{
    margin-bottom: 30px;
}
.nozama_news .item-content .post_date{
    background: #85caf3;
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 40px;
    margin-left: -50px;
}
.nozama_news .item-content .post_title a{
    margin-top: 40px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #054881;
}
.nozama_news .item-content .item-excerpt{
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #054881;
}
.nozama_news .item-content .read_more{
    position: absolute;
    display: block;
    right: 20px;
    bottom: 20px;
}
.nozama_news .item-content .read_more i{
    color: #054881;
    border-color: #054881;
    padding-left: 5px;
}

/* banner menu */
.nozama_banner nav{
	margin-top: -30px;
	background: transparent;
}
.nozama_banner .ubermenu .ubermenu-item.ubermenu-item-level-0{
	width: 200px;
    margin-bottom: 2px;
    background: #011d4f;
    display: block;
}
.nozama_banner .ubermenu .ubermenu-item.ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target{
	background: #85caf3;
}
.nozama_banner::before{
    content: " ";
    position: absolute;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
    background-image: url('./img/corner-bg1.png');
    left: 0;
    bottom: 0;
    z-index: 2;
    background-size: 100%;
    background-repeat: no-repeat; 
    transform: scaleX(-1);
}
.nozama_banner::after{
    content: " ";
    position: absolute;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
    left: 0;
    bottom: -12vw;
    z-index: 2;
    background-size: 100%;
    background-repeat: no-repeat; 
    background-image: url('./img/corner-bg5.png');
    transform: scale(-1, -1);
}