.elementor a{
	color: #054881;
}
.elementor a i.fa-chevron-right{
	border: 1px solid #054881;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    padding: 3px 5px;
    color: #054881;
    margin-right: 5px;
    vertical-align: middle;
}
.elementor a:hover{
	color: #84cbf1;
}
.elementor a:hover i.fa-chevron-right{
	color: #84cbf1;
	border: 1px solid #84cbf1;
}
/* gallery widget */
.nozama_gallery{
	padding-bottom: 60px;
}
.nozama_gallery h5{
	background: #011d4f;
    color: white;
    padding: 10px 20px;
    width: 300px;
    margin-top: -20px;
    font-size: 24px;
}
.nozama_gallery .gallery-item{
	padding: 10px !important;
}
.nozama_gallery .gallery-item .landscape{
	height: 100%;
}
.nozama_gallery .gallery-item .landscape img{
	height: 100%;
}
@media (min-width: 1350px){
	.gallery {
	    margin-right: -10px !important;
	    margin-left: -10px !important;
	}
}

/* video widet css */
.nozama_video{
	padding: 60px 0;
	margin-top: -40px;
}

/* featured product widget */
.nozama_featured_product{
	padding-bottom: 60px;
    /* background: #ededed; */
}
.nozama_featured_product .section-padded{
    padding-top: 0;
}
.nozama_featured_product h5,
.nozama_featured_product h3,
.nozama_featured_product h2{
	background: #84cbf1;
    color: white;
    padding: 10px 20px;
    width: 300px;
    margin-top: -20px;
    font-size: 24px;
}
.nozama_featured_product .item-product .item-thumb{
    max-height: 280px;
    padding: 0;
}
.nozama_featured_product .row-items .item{
    background: white;
    height: 95%;
    margin-bottom: 0;
}
.nozama_featured_product .row-items{
    margin-bottom: 0;
}
.nozama_featured_product .item-content{
    border-top: 1px solid #ececec;
    padding: 40px 40px 35px;
}
.nozama_featured_product .item-content .item-title a{
    color: #71797e;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
}
.nozama_featured_product .item-content .subtitle{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #71797e;
    font-weight: 400;
}
.nozama_featured_product .item-content > a{
    color: #054881;
    position: absolute;
    bottom: 20px;
}
.nozama_featured_product .item-content > a:hover{
    color: #84cbf1;
}
.nozama_featured_product .item-content > a i{
    margin-right: 5px;
}

/* News Widget */
.nozama_news h5,
.nozama_news h3,
.nozama_news h2{
	background: #054881;
    color: white;
    padding: 10px 20px;
    width: 300px;
    margin-top: -26px;
    font-size: 24px;
}
.nozama_news .item-media-sm{
    height: 100%;
}
.nozama_news .item-media-sm .item-thumb{
    width: 45%;
    margin-right: 0;
    background-position: center;
    background-size: cover;
}
.nozama_news .item-media .item-content{
    background: #ececec;
    padding: 15px 30px;
}
.nozama_news .row > .col-lg-6{
    margin-bottom: 30px;
}
.nozama_news .item-content .post_date{
    background: #85caf3;
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 40px;
    margin-left: -50px;
}
.nozama_news .item-content .post_title a{
    margin-top: 40px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #054881;
}
.nozama_news .item-content .item-excerpt{
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #054881;
}
.nozama_news .item-content .read_more{
    position: absolute;
    display: block;
    right: 20px;
    bottom: 20px;
}
.nozama_news .item-content .read_more i{
    color: #054881;
    border-color: #054881;
    padding-left: 5px;
}

/* banner menu */
.nozama_banner{
    min-height: 300px;
}
.nozama_banner nav{
    width: 250px;
	margin-top: -30px;
	background: transparent;
}
.nozama_banner .ubermenu .ubermenu-item.ubermenu-item-level-0{
	width: 200px;
    margin-bottom: 3px;
    background: #011d4f;
    display: block;
}
.nozama_banner .ubermenu .ubermenu-item.ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target{
	background: #85caf3;
}
.nozama_banner::before{
    content: " ";
    position: absolute;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
    background-image: url('./img/corner-bg1.png');
    left: 0;
    bottom: 0;
    z-index: 2;
    background-size: 100%;
    background-repeat: no-repeat; 
    transform: scaleX(-1);
}
.nozama_banner::after{
    content: " ";
    position: absolute;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
    left: 0;
    bottom: -12vw;
    z-index: 2;
    background-size: 100%;
    background-repeat: no-repeat; 
    background-image: url('./img/corner-bg5.png');
    transform: scale(-1, -1);
}
.nozama_banner .title_container{
    display: flex;
    position: absolute;
    padding-top: 40px;
}
.nozama_banner .title_container .title_line{
    width: 30px;
    height: auto;
    border-top: 2px solid white;
    border-left: 2px solid white;
    margin-top: 10px;
    margin-right: 20px;
}
.nozama_banner .title_container .title_line::after{
    content: " ";
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: -16px;
    left: -7px;
}
.nozama_banner .title_container h3{
    padding-bottom: 70px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.nozama_banner .elementor-widget-theme-post-title h1{
    font-size: 3vw;
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    margin-top: 70px;
    margin-left: 50px;
}
@media ( max-width: 991px ) {
    .nozama_banner .elementor-widget-theme-post-title{
        font-size: 30px;
    }
    .nozama_news .item-media.item-media-sm{
        display: block;
    }
    .nozama_news .item-media-sm .item-thumb {
        width: 100%;
        height: 300px;
    }
}
.nozama_card_grid .item{
    border: none !important;
}
.nozama_card_grid .item-content{
    padding: 30px;
}
.nozama_card_grid .item-content .item-title{
    margin-bottom: 20px;
}
.nozama_card_grid .item-content .item-title a{
    color: #71797e;
    font-size: 30px;
}

.widget_product_categories{
    position: absolute;
    top: -30px;
    z-index: 100;
}
.widget_product_categories li{
    width: 250px;
    display: block;
}
.widget_product_categories li.cat-item a{
    color: #d9d9d9;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    background: #011d4f;
    margin-bottom: 3px;
}
.widget_product_categories li.cat-item a:hover{
    background: #000;
    color: white;
}
.widget_product_categories li.cat-item.current-cat > a,
.widget_product_categories li.cat-item.current-cat-parent > a{
    background: #85caf3;
    color: white;
}
.widget_product_categories .product-categories > .cat-item{display:none;}
.widget_product_categories .product-categories .cat-parent{display:inline!important;}
.tax-product_cat .widget_product_categories .product-categories > .cat-parent > a{
    display: none;
}
@media (max-width: 767px){
    .widget_product_categories{
        display: block;
        width: 100%;
    }
    #page .elementor-widget-wrap>.elementor-element{
        margin-top: 30px;
    }
    #page .select2-container .select2-selection--single,
    #page .select2-container--default .select2-selection--single .select2-selection__arrow{
        height: 40px;
        border-width: 0;
    }
    #page .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: 40px;
        padding-right: 30px;
        background: #011d4f;
        color: white;
    }
}
@media (max-width: 1024px){
    .elementor-4562 .elementor-element.elementor-element-7c5a3ae{
        top: 90px;
    }
}
.ubermenu .ubermenu-submenu .ubermenu-column-auto{
    width: 100% !important;
}
.grecaptcha-badge{
    z-index: 10000;
}